.image-scroller {
  width: 100%;
  height: 100%;
  .image-node-wrapper {
    position: absolute;
    display: inline-block;
    transform-origin: top left;
    pointer-events: none;
    .image-node {
      transform-origin: center;

      transform: scale(0.1);
      &.pop-in {
        transition: transform 0.3s;
        transform: scale(1);
      }
    }
  }
}
